<div class="box mb-4">
  <form [formGroup]="form">
    <article class="media">
      <div class="media-content">
        <div class="field">
          <p class="control">
            <textarea class="textarea" placeholder="Tell me something great..." formControlName="text"></textarea>
          </p>
        </div>
        <nav class="level mb-0">
          <div class="level-left">
            <div class="level-item">
              <button class="button is-info is-fullwidth" (click)="onSubmitClick()" [disabled]="shouldDisableSubmit"
                [ngClass]="{'is-loading': isLoading}">Submit</button>
            </div>
          </div>
        </nav>
        <app-error-notification [state]="errorNotificationState" class="mb2">
          Something went wrong, please try again.
        </app-error-notification>
      </div>
    </article>
  </form>
</div>