<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="box column is-4 is-offset-4">
        <form [formGroup]="form" (submit)="onFormSubmit()">
          <div class="field">

            <div class="field">
              <div class="control">
                <input class="input is-medium" [class]="{ 'is-danger': isCurrentPasswordInvalid }" type="password"
                  placeholder="Current Password" formControlName="currentPassword">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input class="input is-medium"
                  [class]="{ 'is-success': isNewPasswordValid, 'is-danger': isNewPasswordInvalid }" type="password"
                  placeholder="New Password" formControlName="newPassword">
              </div>
            </div>

            <app-password-check [errors]="passwordErrors"
              [isOpen]="newPassword?.touched || newPassword?.value?.length > 0">
            </app-password-check>

            <button type="submit" class="button is-block is-info is-large is-fullwidth"
              [ngClass]="{'is-loading': isLoading}" [disabled]="form?.invalid">
              Change Password
            </button>

            <app-error-notification [state]="errorNotificationState">
              Something went wrong, please try again.
            </app-error-notification>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>