<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="box column is-4 is-offset-4">
        <form [formGroup]="form" (submit)="onFormSubmit()">
          <div class="field">
            <div class="control">
              <input class="input is-medium" type="text" placeholder="New Name" autofocus="" formControlName="name">
            </div>
          </div>

          <br>

          <button type="submit" class="button is-block is-info is-large is-fullwidth"
            [ngClass]="{'is-loading': isLoading}" [disabled]="disableSubmit">Update Name</button>

          <app-error-notification [state]="errorNotificationState">
            Something went wrong, please try again.
          </app-error-notification>
        </form>
      </div>
    </div>
  </div>
</section>