<section class="hero">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="box column is-4 is-offset-4">
        <content class="is-size-3">Change Profile Picture</content>

        <form [formGroup]="form" (submit)="onFormSubmit()">
          <div class="field" class="my-4">
            <app-file-upload (fileSelected)="fileSelected($event)" acceptFileType="image/*"></app-file-upload>
          </div>

          <button type="submit" class="button is-block is-info is-large is-fullwidth"
            [ngClass]="{'is-loading': isLoading}" [disabled]="disableSubmit">Submit</button>

          <app-error-notification [state]="errorNotificationState">
            Something went wrong, please try again.
          </app-error-notification>
        </form>
      </div>
    </div>
  </div>
</section>