<div class="columns">
  <div class="column is-4 is-offset-4">
    <div class="card mx-6">
      <div class="card-image">
        <figure class="image">
          <img src="{{photoHref}}" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <p class="title is-4">{{name}}</p>
            <p class="subtitle is-6">{{email}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>