<div class="card">
  <form [formGroup]="form">
    <div class="card-image" *ngIf="greatThing?.picture">
      <figure class="image is-1by1">
        <img [src]="greatThing?.picture.href" [alt]="greatThing?.text">
      </figure>
    </div>
    <div class="card-content pb-2">
      <div class="content">
        <textarea class="textarea" formControlName="text"></textarea>
        <br>
        <div class="w-100 has-text-right mt-1 is-size-7">
          <time>{{greatThing?.createdAtTime | date:'medium'}}</time>
        </div>
      </div>
    </div>
    <footer class="card-footer">
      <a class="card-footer-item has-text-danger" (click)="emitToggleEditing()">Cancel</a>
      <a class="card-footer-item has-text-primary" (click)="sendApiRequests()">Submit</a>
    </footer>
  </form>
</div>