.card:hover {
  time {
    transform: translateX(-1rem);
  }

  .edit-icon {
    opacity: 100%;
  }
}

time {
  transform: translateX(0.75rem);
  display: block;
  transition: 0.4s;
}

.time-row {
  display: flex;
  justify-content: flex-end;
}

.edit-icon {
  opacity: 0;
  position: absolute;
  bottom: 5px;
  right: 11px;
  transition: 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  time {
    transform: translateX(-1rem);
  }

  .edit-icon {
    opacity: 100%;
  }
}
