<form [formGroup]="form" (submit)="onFormSubmit()">
  <div class="field">
    <div class="control">
      <input class="input is-medium" [class]="{ 'is-success': isNameValid, 'is-danger': isNameInvalid }" type="text"
        placeholder="Your Name" autofocus="" formControlName="name">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-medium" [class]="{ 'is-success': isEmailValid, 'is-danger': isEmailInvalid }" type="email"
        placeholder="Your Email" autofocus="" formControlName="email">
    </div>
  </div>

  <div class="field">
    <div class="control">
      <input class="input is-medium" [class]="{ 'is-success': isPasswordValid, 'is-danger': isPasswordInvalid }"
        type="password" placeholder="Your Password" formControlName="password">
    </div>
  </div>

  <div *ngIf="this.password?.touched || this.password?.value?.length > 0">
    <p>Password Requirements</p>
    <ul>
      <li
        [class]="this.password?.errors?.minlength || this.password?.value?.length === 0 ? 'has-text-danger' : 'has-text-success'">
        length</li>
      <li [class]="this.password?.errors?.containsLowerCase ? 'has-text-danger' : 'has-text-success'">lower case</li>
      <li [class]="this.password?.errors?.containsUpperCase ? 'has-text-danger' : 'has-text-success'">upper case</li>
      <li [class]="this.password?.errors?.containsNumbers ? 'has-text-danger' : 'has-text-success'">number</li>
      <li [class]="this.password?.errors?.containsSpecialCharacters ? 'has-text-danger' : 'has-text-success'">special
        character</li>
    </ul>
  </div>

  <button type="submit" class="button is-block is-info is-large is-fullwidth" [disabled]="!this.form?.valid">Register <i
      class="fa fa-sign-in" aria-hidden="true"></i></button>
</form>